#about-us {
    padding: 100px 0 40px 0;
    background: color(shade4) url("../images/geometry.png") repeat 0 0;
    //background: color(shade4) url("../images/geometry2.png") repeat 0 0;
    animation: slide 20s linear infinite;

    .tt-shape-top {
        transform: translateY(-105px);
    }

    .tt-shape-bottom{
        transform: rotate(180deg) translateY(-45px);
    }

    svg {
        max-width: 100%;
    }

    .about-text-wrapper {
        background: #ffffff;
        padding: 30px 30px;
        border-radius: 4px;
        border-bottom: 4px solid color(secondary1);
        box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);
        margin-bottom: 100px;
    }

    img {
        width: 100%;
        max-width: 220px;
    }

    .img-rbes, .img-yhew {
        height: 207px;
        width: 127px;
        background-size: contain;
        background-blend-mode: luminosity;
    }

    .img-rbes {
        background-image: url(https://yeets.de/assets/images/Rene_Alpha_440x720px.png);
        background-color: color(primary2);

        &:before {
            content: "";
            display: block;
            background: color(secondary1);
            width: 100px;
            height: 10px;
            position: absolute;
            bottom: -10px;
            background-blend-mode: luminosity;
            right: 6px;
        }

        &:after {
            content: "";
            display: block;
            background: color(secondary1);
            width: 10px;
            height: 100px;
            position: absolute;
            bottom: -10px;
            background-blend-mode: luminosity;
            right: 6px;
        }
    }

    .img-yhew {
        background-image: url(https://yeets.de/assets/images/Yannik_Alpha_440x720px.png);
        background-color: color(secondary2);

        &:before {
            content: "";
            display: block;
            background: color(primary2);
            width: 100px;
            height: 10px;
            position: absolute;
            bottom: -10px;
            background-blend-mode: luminosity;
            left: 6px;
        }

        &:after {
            content: "";
            display: block;
            background: color(primary2);
            width: 10px;
            height: 100px;
            position: absolute;
            bottom: -10px;
            background-blend-mode: luminosity;
            left: 6px;
        }
    }

    .personal-description {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .foto-wrapper {
        .row {
            margin-bottom: 100px;
        }
    }
}


@media(min-width: 768px) {
    #about-us {
        .about-text-wrapper {
            padding: 50px 50px;
            margin-bottom: 0;
        }
    }
}