#about-us {
    padding: 100px 0 40px 0;
    background: color(shade4) url("../images/geometry.png") repeat 0 0;
    //background: color(shade4) url("../images/geometry2.png") repeat 0 0;
    animation: slide 20s linear infinite;

    svg {
        max-width: 100%;
    }

    .about-text-wrapper {
        background: #ffffff;
        padding: 30px 30px;
        border-radius: 4px;
        border-bottom: 4px solid color(secondary1);
        box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);
        margin-bottom: 100px;
    }

    img {
        width: 100%;
    }

    .img-rbes {
        background-image: url(https://yeets.de/assets/images/Rene_Alpha_440x720px.png);
        background-color: color(primary2);

        &:before {
            content: "";
            display: block;
            background: color(secondary1);
            width: 100px;
            height: 10px;
            position: absolute;
            bottom: -10px;
            background-blend-mode: luminosity;
            right: 6px;
        }

        &:after {
            content: "";
            display: block;
            background: color(secondary1);
            width: 10px;
            height: 100px;
            position: absolute;
            bottom: -10px;
            background-blend-mode: luminosity;
            right: 6px;
        }
    }

    .foto-wrapper {
        .row {
            margin-bottom: 100px;
        }

        .img-rbes, .img-yhew {
            width: 128px;
            height: 192px;
            background-size: contain;
            background-blend-mode: luminosity;
        }

        .yannik {
            &:hover {
                .img-yhew {
                    width: 152px;
                    height: 216px;
                    margin-top: -12px;
                    margin-left: -12px;

                    img {
                        width: 142%;
                    }

                    &:after {
                        opacity: 0;
                    }
                }
            }

            .img-yhew {
                overflow: hidden;
                transition: all .2s ease-in-out;



                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 100px;
                    height: 100px;
                    bottom: -12px;
                    left: 3px;
                    background: color(primary2);
                }

                img {
                    width: 185%;
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                    //background: linear-gradient(15deg, #4A2770 50%, rgba(74, 39, 112, 0) 80%);
                    background: color(secondary1);
                    transition: all .2s ease-in-out;
                }
            }
        }

        .fixed-size {
            width: 158px;
            height: 192px;
        }

        .personal-description {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
    }
}


@media(min-width: 768px) {
    #about-us {
        .about-text-wrapper {
            padding: 50px 50px;
            margin-bottom: 0;
        }
    }
}