button {
    border: 0;
    outline: 0;
    cursor: pointer;

    &:focus {
        border: 0;
    outline: 0;
    }
}

.button-primary {
    background: color(primary1);
    box-shadow: 0 6px 30px -10px color(primary1);
    padding: 8px 20px;
    border-radius: 1px;
    color: color(text2);
    transition: ease-in-out .2s all;

    &:hover {
        color: color(text2);
        background: color(primary2);
        box-shadow: 0 3px 5px -5px color(primary2);
    }
}
