#contact {
    padding: 100px 0;
    .row {
        margin: 0;

        .contact-container {
            background: color(shade3); 
            border-radius:3px;
            box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
            padding: 50px 60px; 

            form {
                margin-top:50px;

                .form-group {
                    label {
                        margin: 0;
                        position: absolute;
                        top: 0px;
                        left: 28px;
                        padding: 8px 0;
                        color: color(text1);
                        pointer-events: none;
                        transition: .5s;
                    }
        
                    input {
                        width: 100%;
                        padding: 10px 0;
                        color: color(text1);
                        margin-bottom: 30px;
                        border: none;
                        border-bottom: 1px solid color(text1);
                        outline: none;
                        background: transparent;
                        height: 40px;
        
                        &:focus {
                            border-bottom: 1px solid color(primary1);
                        }
        
                        &:valid ~ label,
                        &:focus ~ label {
                            top: -20px;
                            left: 13px;
                            color: color(primary1);
                            font-size: 12px;
                          }
                    }
                    textarea {
                        width: 100%;
                        padding: 10px 0;
                        color: color(text1);
                        margin-bottom: 30px;
                        border: none;
                        border-bottom: 1px solid color(text1);
                        outline: none;
                        background: transparent;
                        min-height: 60px;

                        &:focus {
                            border-bottom: 1px solid color(primary1);
                        }
        
                        &:valid ~ label,
                        &:focus ~ label {
                            top: -20px;
                            left: 13px;
                            color: color(primary1);
                            font-size: 12px;
                          }
                    }
                    &::nth-last-of-type(1) {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

@media(min-width: 768px){
    #contact {
        .row {
            margin: 0 -15px;
        }
    }
}