#customer {
    background: color(shade3);

    .customer-item {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-height: 40px;
            width: 100%;
            max-width: 140px;
            margin: 20px 0;
            filter: grayscale(1);
    
            &:hover {
                filter: grayscale(0);
                transition: ease-in-out filter 0.3s;
            }
        }
    }
}
