#customer {
    background: color(shade3);

    .customer-item {
        text-align: center; 

        img {
            height: 40px;
            margin: 20px 0;
            filter: grayscale(1);
    
            &:hover {
                filter: grayscale(0);
                transition: ease-in-out filter 0.3s;
            }
        }
    }
}
