#expertise {
    padding: 100px 0;

    img {
        width: 100%;
    }

    .handshake {
        text-align: right;

        img {
            width: 100%;
        }
    }
}

@media(min-width: 768px) {
    #expertise {
        img {
            width: 110px;
            margin-left: 30px;
            margin-bottom: 50px;
        }
        .handshake {
            img {
                width: 150px;
                margin-right: 30px;
            }
        }
    }
}