#expertise {
    padding: 100px 0;
    background-image: linear-gradient(141deg, #452469, #532699);
    color: color(text2);

    img {
        width: 110px;
    }

    .hearteyes, .handshake {
        margin-top: 20px;
        margin-bottom: 60px;
    }

    .handshake {
        order: 1;

        img {
            width: 150px;
        }
    }

    .col-sm-5 {
        text-align: center;
    }

    .tt-shape-top {
        transform: translateY(-110px);
        overflow: hidden;
    }

    .tt-shape-bottom {
        transform: rotate(180deg) translateY(-110px);
    }
}

@media(min-width: 768px) {
    #expertise {
        img {
            margin-left: 30px;
            margin-bottom: 50px;
            text-align: left;
        }

        .handshake {
            order: initial;

            img {
                margin-right: 30px;

                text-align: right;
                order: initial;
            }
        }

        .hearteyes, .handshake {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}