header {
    position: relative;
    display: flex;
    min-height: 600px;
    margin-top: 58px;
    background: url("../images/geometry_background.png") repeat 0 0;
    animation: slide 50s linear infinite;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        background: url(../images/geometry_foreground.png) repeat 0 0;
        animation: slide 15s linear infinite;
    }

    .row {
        height: 100%;

        .head-illustration {
            position: absolute;
            animation: float 4s ease-in-out infinite;
            max-width: 100px;
            top: 30px;
            left: 30px;
        }

        .header-info {
            display: flex;
            flex-direction: column;
            align-items: baseline;
            padding: 0 30px;
            margin-top: 30px;

            .logo {
                margin-bottom: 50px;
                max-width: 160px;
                margin-top: -30px;
            }

            p {
                margin-bottom: 32px;
            }

            .button-primary {
                margin-right: 28px;
                margin-bottom: 20px;
                display: inline-block;
            }

            .contact-link {
                margin-bottom: 40px;
                display: inline-block;
            }
        }
    }

    .social-media {
        margin-bottom: 50px;
    }
}

@media (min-width: 768px) {
    header {
        margin-top: 0;

        .row {
            .head-illustration {
                position: absolute;
                top: 0px;
                left: -30px;
                width: 106%;
                max-width: 530px;
                opacity: 1;
                display: inline-block;
            }

            .header-info {
                padding: 0 60px;

                .logo {
                    margin-bottom: 30px;
                    max-width: 270px;
                    margin-top: 0;
                    margin-left: 0;
                }

                .contact-link {
                    margin-bottom: 0;
                    display: inline-block;
                }
            }
        }
    }
}

@keyframes float {
    0% {
        transform: translatey(10px);
    }
    50% {
        transform: translatey(30px);
    }
    100% {
        transform: translatey(10px);
    }
}

@keyframes slide {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 -800px;
    }
}