#references {
    padding: 100px 0;

    &:before {
        height: 620px;
        content: '';
        width: 50%;
        margin-top: 130px;
        position: absolute;
        background-image: radial-gradient(#F6F6F6 15%, #fff 20%);
        background-position: 0 0;
        right: 0;
        background-size: 20px 20px;
    }

    .scroll-stack {
        position: relative;

        h2 {
            position: sticky;
            top: calc(58px + 100px); //navi-height + top-spacing
        }

        strong {
            position: sticky;
            top: calc(58px + 100px + 38px); //navi-height + top-spacing + h2-height
        }

        .stack-item {
            position: sticky;
            top: calc(58px + 100px + 38px + 22px + 30px); //navi-height + top-spacing + h2-height + strong-height + top-spacing
            background: aqua;
            width: 50%;
            margin-top: 30px;

            + .stack-item {
                margin-top: 50vh;
            }

            @for $i from 0 through 5 {
                &:nth-of-type(#{$i}) {
                    transform: translate(calc((#{$i} - 1) * 16px), calc((#{$i} - 1) * 16px));
                }
            }
        }
    }
}