#references {
    padding: 100px 0;

    &:before {
        height: 620px;
        content: '';
        width: 50%;
        margin-top: 130px;
        position: absolute;
        background-image: radial-gradient(#F6F6F6 15%, #fff 20%);
        background-position: 0 0;
        right: 0;
        background-size: 20px 20px;
    }

    .cardslider {
        height: 800px;

        li[class*="cardslider__card--index-"] {
            background: transparent;
        }

        .cardslider__dot-btn {
            border-color: color(shade2);
        }

        .cardslider__dot--active {
            .cardslider__dot-btn {
                border: 2px solid color(primary1);
            }
        }
    }

        .references-item {
            width: 280px;
            background: color(secondary1);
            color:color(text2);
            border-radius: 6px;
            padding: 30px; 
            transform-style: preserve-3d;
            transform: perspective(300px);

            img {
                width: 250px;
                border-radius: 3px;
                margin-bottom: 40px;
                margin-top: 16px;
                margin-left: 12px;
                transform: translateZ(20px);
            }

            p {
                margin-bottom:40px;
                
            }

            a {
                transform: translateZ(20px); 
                display: inline-block;
                margin-bottom: 16px;
            }
        }

    .yeetboy-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .proud-yeetboy{
        width: 100%;
    }
    .proud-yeetboy-head {
        width: 100%;
        position: absolute;
        left: 0;
        transform: translateY(20px) translate3d(0,0,0) rotate(0.1deg) !important;
        animation: float 2s ease-in-out infinite;
        -webkit-font-smoothing: antialiased;
        backface-visibility: hidden;
    }
}

@media (min-width: 768px){
    #references {

        .references-item {
            width: 400px;

            img {
                width: 370px;
            }

        }
    }
}

@media (min-width: 1200px){
    #references {
        &:after {
            height: 680px;
            content: '';
            width: 16%;
            position: absolute;
            background-image: url(../images/kachel.png);
            background-position: 0 0;
            right: 0;
            background-size: 680px;
        }
    }
}

@keyframes float {
    0% {
        transform: translateY(20px);
    }
    50% {
        transform: translatey(24px);
    }
    100% {
        transform: translateY(20px);
    }
}