footer {
  color: color(text2);
  display: flex;
  padding: 32px 0;

  .container {
    .row {
      height: 100%;

      .col-sm-5 {
        .footer-right {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          margin-top: 60px;
      
          .social-media {
            a{
              display: inline-block;
              
              &:first-of-type {
                img {
                  margin-left: 0px;
                }
              }
      
              img {
                width: 40px;
                height: 40px;
                display: inline-block;
                margin-left: 8px;
                transition: 0.2s ease filter;
      
                &:hover {
                  filter: brightness(0.5) hue-rotate(65deg);
                }
              }
            }
          }

          .legal-protection {
            margin-block-start: 1em;
            margin-block-end: 1em;

            span {
              margin: 0 4px;
              color: color(primary1);
            }
          }
        }
      }
    }
  }
}

@media(min-width:768px) {
  footer {  
    .container {
      .row {
        .col-sm-5 {
          height: 100%;
  
          .footer-right {
            height: 100%;
            align-items: flex-end;
            margin-top: 0;
        
            .social-media {
              a{
                
                &:first-of-type {
                  img {
                  }
                }
        
                img {
                  &:hover {
                  }
                }
              }
            }
  
            .legal-protection {
            }
          }
        }
      }
    }
  }
}