//<editor-fold desc="BASE">
body {
  margin: 0;
  color: color(text1);
}

p {
  line-height: 25px;
}

a {
  color: color(primary1);
  text-decoration: none;
}

.shadow {
  box-shadow:
          0  5px 10px rgba(154,160,185,0.05),
          0 15px 40px rgba(166,173,201,0.2);
}
//</editor-fold>


//<editor-fold desc="TEXT-ALIGNMENT">
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
  //</editor-fold>

//<editor-fold desc="BACKGROUNDS">
.bullets-background  {
  background-position: 0 0;
  background-size: 20px 20px;
}

.bullets-background.violet {
  background-image: radial-gradient(color(secondary2) 15%, color(secondary1) 20%);
}

.bullets-background.grey {
  background-image: radial-gradient(color(shade4) 15%, color(text2) 20%);
}
//</editor-fold>
